@page "/Account/AccessDenied"

<PageTitle>Access Denied - Airtime Distribution</PageTitle>

<div class="auth-page">
    <div class="auth-card">
        <div class="auth-message">
            <div class="auth-message-icon error">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/>
                </svg>
            </div>
            <h1>Access Denied</h1>
            <p>You do not have permission to access this resource. Contact your administrator if you believe this is an error.</p>
            <a href="/" class="btn-back">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="white"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/></svg>
                Back to Dashboard
            </a>
        </div>
    </div>
</div>
